@{
    ViewData["Title"] = "Cart contents";
}
@model WebMvcClient.ViewModels.CartListModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart contents</title>
</head>
<body>
    <div class="container">
        @if (TempData.ContainsKey("BasketInoperativeMsg"))
        {
            <br />
            <div class="alert alert-warning" role="alert">
                &nbsp;@TempData["BasketInoperativeMsg"]
            </div>
        }
        else
        {
            <article class="esh-basket-titles row">
                <br />
                @if (TempData.ContainsKey("BasketInoperativeMsg"))
                {
                    <div class="alert alert-warning" role="alert">
                        &nbsp;@TempData["BasketInoperativeMsg"]
                    </div>
                }
                <section class="esh-basket-title col-xs-3">Event</section>
                <section class="esh-basket-title col-xs-3 hidden-lg-down"></section>
                <section class="esh-basket-title col-xs-2">Price</section>
                <section class="esh-basket-title col-xs-2">Quantity</section>
                <section class="esh-basket-title col-xs-2">Cost</section>
            </article>

            <form asp-action="Index" asp-controller="CartList" method="post">

                @for (int i = 0; i < Model.EventsInCart.Count; i++)
                {
                    var item = Model.EventsInCart[i];

                    <article class="esh-basket-items  row">
                        <div>
                            <section class="esh-basket-item esh-basket-item--middle col-lg-3 hidden-lg-down">
                                <img class="esh-basket-image" src="@item.ImageURL" />
                            </section>
                            <section class="esh-basket-title esh-basket-item--middle col-xs-3">@item.Name</section>
                            <section class="esh-basket-title esh-basket-item--middle col-xs-2">@item.DisplayPrice</section>
                            <section class="esh-basket-titlem esh-basket-item--middle col-xs-2">
                                <input type="hidden" name="@("quantities[" + i +"].Key")" value="@item.Id" />
                                <input type="number" class="esh-basket-input" min="1" name="@("quantities[" + i +"].Value")" value="@item.TicketsInCart" />
                            </section>
                            <section class="esh-basket-title esh-basket-item--middle esh-basket-item--mark col-xs-2">$ @Math.Round(item.TicketsInCart * item.Price, 2).ToString("N2")</section>
                        </div>
                        <div class="row">
                        </div>
                    </article>
                    <br />
                }

                <div class="container">
                    <article class="esh-basket-titles esh-basket-titles--clean row">
                        <section class="esh-basket-title col-xs-10"></section>
                        <section class="esh-basket-title col-xs-2">Total</section>
                    </article>
                    <article class="esh-basket-items row">
                        <section class="esh-basket-item col-xs-10"></section>
                        <section class="esh-basket-title esh-basket-item--mark col-xs-2">$ @Model.Total</section>
                    </article>
                    <article class="esh-basket-items row">
                        <section class="esh-basket-item col-xs-7"></section>
                        <section class="esh-basket-item col-xs-2">
                            <button class="btn esh-basket-checkout" name="name" value="" type="submit">[ Update ]</button>
                        </section>
                        <section class="esh-basket-item col-xs-3">
                            <input type="submit"
                                   class="btn esh-basket-checkout"
                                   value="[ Checkout ]" name="action" />
                        </section>
                    </article>
                </div>
            </form>
        }
    </div>
</body>
</html>
