@model WebMvcClient.ViewModels.CatalogIndexViewModel

<div class="esh-pager">
    <div class="container">
        <article class="esh-pager-wrapper row">
            <nav>
                <a class="esh-pager-item esh-pager-item--navigable @Model.PaginationInfo.Previous"
                   id="Previous"
                   asp-controller="Catalog"
                   asp-action="Index"
                   asp-route-page="@(Model.PaginationInfo.ActualPage -1)"
                   asp-route-location="@(Model.Location)"
                   asp-route-category="@(Model.Category)"
                   asp-route-eventType="@(Model.EventType)"
                   asp-route-price="@(Model.Price)"
                   aria-label="Previous">
                    Previous
                </a>
                <a class="esh-pager-item esh-pager-item--navigable @Model.PaginationInfo.Next"
                   id="Next"
                   asp-controller="Catalog"
                   asp-action="Index"
                   asp-route-page="@(Model.PaginationInfo.ActualPage + 1)"
                   asp-route-location="@(Model.Location)"
                   asp-route-category="@(Model.Category)"
                   asp-route-eventType="@(Model.EventType)"
                   asp-route-price="@(Model.Price)"
                   aria-label="Next">
                    Next
                </a>
            </nav>
        </article>
    </div>
</div>
