@{
    ViewData["Title"] = "Event Description";
    @model WebMvcClient.Models.Event
}

@*DOES NOT APPLY STYLE; DO NOT USE FOR NOW*@

<div>
    <p style="font-family:Permanent Marker;">@Model.Name</p>
    <p>@Model.StartDate</p>
    <p>@Model.Place.Address</p>
    <p>@Model.Price</p>
    <p>@Model.Description</p>
    @Model.ImageURL
</div>

<form asp-controller="Cart" asp-action="Index">
    <input type="hidden" name="eventId" value="@Model.Id" />
    <input class="esh-catalog-button" type="submit" value="[ Buy tickets ]" />
</form>